body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
#video-container {
  position: relative;
  width: 1280px;
  height: 720px;
}
video {
  width: 100%;
  height: 100%;
}
.rectangle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
#controls {
  margin-top: 60px;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px; /* Same width as the video element */
}
.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Adjust margin to control spacing between groups */
}
label {
  margin-bottom: 5px; /* Reduce margin to push label closer to input */
}
.segment-input {
  font-size: 0.8em;
  padding: 5px;
  width: 80px;
}
